apiVersion: apps/v1
kind: Deployment
metadata:
  name: udacity-devops-capstone
  labels:
    app: udacity-devops-capstone
spec:
  replicas: 2
  selector:
    matchLabels:
      app: udacity-devops-capstone
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: udacity-devops-capstone
    spec:
      containers:
        - name: udacity-devops-capstone
          image: mvechtomova/udacity-devops-capstone:v1
          ports:
            - containerPort: 80
              name: http-server

---
apiVersion: v1
kind: Service
metadata:
  name: udacity-devops-capstone
  labels:
    name: udacity-devops-capstone
spec:
  selector:
    app: udacity-devops-capstone
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      protocol: TCP
